server:
  port: 8081

spring:
  application:
    name: credit-card-backend

  data:
    mongodb:
      uri: mongodb+srv://ragulgopinath2005:admin@cluster0.ykm7wpu.mongodb.net/creditcarddb?retryWrites=true&w=majority

  jackson:
    serialization:
      write-dates-as-timestamps: false

logging:
  level:
    root: INFO
    org.springframework.data.mongodb: INFO
    org.springframework.security: INFO
    com.lbg.creditcard: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

jwt:
  secret: sljfkdfsddkfjdfjsfldkfownvowndndsdwndssdgfdijguirghruehuyrrgdrgger
  expiration: 86400000   # 1 day

app:
  cors:
    allowed-origins: http://localhost:3000


springdoc:
  swagger-ui:
    persistAuthorization: true

